@model IEnumerable<School_Project2021.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Corses</h1>

<p>
    <a asp-action="Create" class="btn btn-secondary">Create New</a>
</p>
<table class="table">
    <thead thead-dar>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discraption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.ToList().Count; i++)
        {
            <tr>
                <td>
                    @(i+1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ToList()[i].Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ToList()[i].Discraption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ToList()[i].Image)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.ToList()[i].Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@Model.ToList()[i].Id" class="btn btn-dark">Details</a> |
                    <a asp-action="Delete" asp-route-id="@Model.ToList()[i].Id" class="btn btn-danger">Delete</a> |
                    <a asp-controller="Videos" asp-action="Index" asp-route-id="@Model.ToList()[i].Id" class="btn btn-info">Videos</a>
                </td>
            </tr>
        }
    </tbody>
</table>
